body {
  background-color:slategrey;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: green;
  list-style-type: none;
  height: 100;
  width: 30vw;
  margin: 0;
  padding: 0;
}

nav {
  height: 50px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: gold;
  font-style: italic;
}

li {
  /* display: inline; */
  /* float: right; */
  font-style: normal;
  font-size: 10pt;
  color: white;
  text-align: right;
  text-decoration: none;
}

/* li a {
  /* display: block; */
  /* color: white;
  text-align: right;
  text-decoration: none; */
/* } */ */
 
.Welcome {
  color: white;
  text-align: center;
}

nav img {
  display: none;
  border: 1px;
  border-color: red;
  border-style: solid;
}

.side-menu- {
  display: none;
}

.content {
  color: white;
  text-align: center;
  padding: 0 18px;
  display: none;
  overflow: hidden;

    /* padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden; */
    transition: max-height 0.2s ease-out;

}

.TellMe {
  /* background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px; */


  background:gold; 
  /* display: inline-block; */
  /* float: right; */
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 1.2em;
  height: 80px;
  width: 240px;
  border-radius: 9px; 
  text-align:center;
  display: block;
  /* max-width: 300px; */
  margin: auto; 
  /* display: flex;  */
  /* justify-content: center;  */
}

@media(max-width: 800px) {
  ul {
    display: none;
  }

  nav img {
    display: block;
    width: 20px;
    height: 20px;
  }

  .side-menu-open {
    display: block;
    animation: openMenu 1s;
  }
  .side-menu-closed {
    display: none;
    animation: closeMenu 1s;
    animation-fill-mode: forwards;

  @keyframes openMenu {
      from {
        height: 0hw;
      }
      to {
        height: 30hw;
      }
    }
    
    @keyframes closeMenu {
      from {
        height: 30hw;
      }
      to {
        height: 0hw;
      }
    }

    /* .collapsible:after {
      content: '\02795'; 
      font-size: 13px;
      color: white;
      float: right;
      margin-left: 5px;
    }
    
    .active:after {
      content: "\2796"; 
    } */



  }

}