body {
  background-color:slategrey;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: green;
  list-style-type: none;
  height: 100;
  width: 30vw;
  margin: 0;
  padding: 0;
}

nav {
  height: 50px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: gold;
  font-style: italic;
}

li {
  /* display: inline; */
  /* float: right; */
  font-style: initial;
  font-size: 12pt;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
  color: white;
  text-align: right;
  text-decoration: none;
}

.Welcome {
  color: white;
  text-align: center;
}

nav img {
  display: none;
  border: 1px;
  border-color: red;
  border-style: solid;
}

.side-menu- {
  display: none;
}

.side-menu-closed {
  display: none;
  height: 0vh;
}

h2 {
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3em;
}

h3 {
  font-family: 'Kaushan Script',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
};

.TellMe {
  background:gold; 
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 1.2em;
  height: 80px;
  width: 240px;
  border-radius: 9px; 
  text-align:center;
  display: block;
  margin: auto;
}

button {
    background:gold; 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 1.2em;
    height: 80px;
    width: 240px;
    border-radius: 9px; 
    text-align:center;
    display: block;
    margin: auto;
  
}

@media(max-width: 800px) {
  ul {
    display: none;
  }

  nav img {
    display: block;
    width: 20px;
    height: 20px;
  }

  img:click {
    height: 300px;
    background-color: purple;
  }

  .side-menu-open {
    display: block;
    animation: openMenu 1s;
    animation-iteration-count: 1;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 30vh;
    transition: height 21s;
    background-color: gold;
    overflow: hidden;
    position: absolute;
    width: 100%;
  }
  .side-menu-closed {
    display: none;
    animation: closeMenu 1s;
    animation-fill-mode: forwards;
    /* height: 0vh; */
    transition: height 12s;
  }


  @keyframes openMenu {
      from {
        height: 0vh;
      }
      to {
        height: 30vh;
      }
    }
    
    @keyframes closeMenu {
      from {
        height: 30vh;
      }
      to {
        height: 0vh;
      }
    }

  }

